body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.seccio-container {
    max-width: 800px;
    margin: 2rem auto;
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    color: #333;
}

#titolSeccio {
    text-align: center;
    color: #2c3e50;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.imatge-container {
    text-align: center;
    margin-bottom: 1.5rem;
}

.imatgeSeccio {
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dades-seccio {
    margin-bottom: 1.5rem;
}

.dades-seccio p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 1.4rem;
    color: #34495e;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 0.5rem;
}

.llista-membres {
    list-style-type: none;
    padding: 0;
}

.llista-membres li {
    background: #ecf0f1;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-volver {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: #2980b9;
}
